body {
  align-items: center;
  background: white;
  color: #222326;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 100vh;
  justify-content: center;
  line-height: 1.5;
  text-align: center;
}

a {
  background-color: #1db954;
  border-radius: 500px;
  border-width: 0;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1;
  min-width: 160px;
  padding: 16px 48px 18px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
  display: inline-block;
}

a:hover {
  cursor: pointer;
  background-color: #1ed760;
}

a:active {
  background-color: #1aa34a;
}

iframe {
  border: none;
}